
<div *ngIf="hero; else loading;" class="container">
  <div class="grid mt-2">
    <!-- Image -->
    <div class="col-12 sm:col-6 md:col-4 xl:col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ hero.alter_ego }}</mat-card-title>
          <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="hero | heroImage" alt="hero.superhero">
      </mat-card>
    </div>
    <!-- Info -->
    <div class="col-12 sm:col-6 md:col-8 xl:col-9">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Information</mat-card-title>
          <mat-card-subtitle>{{ hero.superhero }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list class="-m-3 my-2">
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="flex">
                <span>First appearance</span>
                <span class="spacer"></span>
                <span>{{ hero.first_appearance }}</span>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="flex">
                <span>Characters</span>
                <span class="spacer"></span>
                <span>{{ hero.characters }}</span>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="flex">
                <span>Publisher</span>
                <span class="spacer"></span>
                <span>{{ hero.publisher }}</span>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <div class="flex">
                <span>Alter ego</span>
                <span class="spacer"></span>
                <span>{{ hero.alter_ego }}</span>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <button mat-stroked-button (click)="goBack()">
            Back
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="flex align-items-center justify-content-center h-20rem">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
