<div class="flex flex-column">
  <h1>Search</h1>
  <mat-form-field>
    <mat-label>
      Search a hero
    </mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="search()"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectOption($event)">
      <mat-option *ngFor="let hero of heros" [value]="hero">
        {{ hero.superhero }}
      </mat-option>
      <mat-option *ngIf="heros.length === 0 && searchInput.value && searchInput.value.length > 0" value="">
        Was not found any hero with that name {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
