<mat-sidenav-container fullscreen>

  <!-- Sidebar Menu -->
  <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '260px'}">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of herosSidebarItems"
        [routerLink]="item.route">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Heros App</span>
    <span class="spacer"></span>
    <span class="text-base text-white-alpha-70 mr-2">{{ user?.email }}</span>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-toolbar>

  <!-- Content -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
