<div class="flex flex-row align-items-center justify-content-start px-1">
  <button mat-icon-button [routerLink]="['/heros/list']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="my-3">
    {{ currentHero.id ? 'Edit' : 'Add' }}
    <span *ngIf="currentHero.id">{{ currentHero.superhero }}</span>
  </h1>
</div>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6 md:col-8 xl:col-9">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="save()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Superhero</mat-label>
            <input
              matInput
              type="text"
              formControlName="superhero"
            />
          </mat-form-field>
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input
              matInput
              type="text"
              formControlName="alter_ego"
            />
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>First appearance</mat-label>
            <input
              matInput
              type="text"
              formControlName="first_appearance"
            />
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Characters</mat-label>
            <input
              matInput
              type="text"
              formControlName="characters"
            />
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Creator</mat-label>
            <mat-select formControlName="publisher">
              <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                {{ publisher.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Alternative Image</mat-label>
            <input
              matInput
              type="text"
              formControlName="alt_img"
            />
          </mat-form-field>
        </form>
        <div class="flex justify-content-between">
          <button
            *ngIf="currentHero.id"
            mat-stroked-button
            (click)="delete()"
            color="warn">
            <mat-icon>delete</mat-icon>
            Delete
          </button>
          <span></span>
          <button
            mat-flat-button
            (click)="save()"
            color="primary">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>

      </mat-card-content>
    </mat-card>
    <div class="bg-yellow-100 border-round mt-3 p-3">
      <code>
        {{ currentHero | json }}
      </code>
    </div>
  </div>
  <div class="col-12 sm:col-6 md:col-4 xl:col-3">
    <mat-card>
      <img mat-card-image [src]="currentHero | heroImage" alt="Hero Image"/>
    </mat-card>
  </div>
</div>


